SELECT t1._tid_ FROM "dirty_hospital_coosa" as t1 WHERE t1."HospitalName"='coosa valley medical center' AND EXISTS (SELECT t2._tid_ FROM "dirty_hospital_coosa" as t2 WHERE t1."Condition"<>t2."Condition" AND t1."HospitalName"=t2."HospitalName")SELECT t1._tid_ FROM "dirty_hospital_coosa" as t1 WHERE t1."HospitalName"='coosa valley medical center' AND EXISTS (SELECT t2._tid_ FROM "dirty_hospital_coosa" as t2 WHERE t1."Condition"<>t2."Condition" AND t1."HospitalName"=t2."HospitalName")SELECT t1._tid_ FROM "dirty_hospital_coosa" as t1 WHERE t1."HospitalName"='coosa valley medical center' AND EXISTS (SELECT t2._tid_ FROM "dirty_hospital_coosa" as t2 WHERE t1."Condition"<>t2."Condition" AND t1."HospitalName"=t2."HospitalName")SELECT t1._tid_ FROM "dirty_hospital_coosa" as t1 WHERE t1."HospitalName"='coosa valley medical center' AND EXISTS (SELECT t2._tid_ FROM "dirty_hospital_coosa" as t2 WHERE t1."Condition"<>t2."Condition" AND t1."HospitalName"=t2."HospitalName")